<component name="ArtifactManager">
  <artifact type="war" name="MyBatis.cn:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="MyBatis.cn-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="MyBatis.cn:war exploded" />
    </root>
  </artifact>
</component>